body {margin: 0;}
canvas {width: 100%; height: 100%}

#voltageChart path {
  fill: none;
  stroke: #000000;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

#voltageChart text {
  fill: black;
  font-size: 12px;
  text-anchor: end;
}

#voltageChart .frameCursor {
  stroke: steelblue;
  stroke-width: 1.5px;
}

#voltageChart .circle {
  fill: none;
  stroke: steelblue;
}

#voltageChart .overlay {
  fill: none;
  pointer-events: all;
}

#voltageChart {
  position: absolute;
  top: 0;
  left: 0;
}

#mdsChart {
  position: absolute;
  top: 0;
  left: 0;
  width: 320;
  height: 320;
}
