body {margin: 0;}
canvas {width: 100%; height: 100%}
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.chart {
  position: absolute;
  top: 100;
  left: 200;
}
